.main {
  min-height: 70vh;
}
.login-comp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-comp {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-comp form {
  background: rgba(118, 113, 113, 0.381);
  border-radius: 5px;
}
